<p>
  <strong>Author:</strong>
  <%= @post.user.name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @post.text %>
</p>
<td><%= link_to 'Back', posts_path %></td>
 <% if @post.user.id == current_user.id %>
    <td><%= link_to 'Edit', edit_post_path%></td>
<% end %>
